<!-- Search Screen Template -->
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        <b>GitHub Search</b>
    </div>
    <!-- Button to move on Dashboard  -->
    <div>
        <span class="home" title="Back to Home" routerLink="/dashboard"><i class='fas fa-home'></i></span>
    </div>
    <div class="w3-display-middle">
        <!-- Keyword input with Search button -->
        <input type="text" class="w3-animate-top" placeholder="Enter GitHub Username" name="userName" [(ngModel)]="userName">
        <button class="w3-animate-top" type="button" [disabled]="!userName" [ngClass]="{'disabled': !userName}" (click)="searchUser()">SEARCH</button>

       <div class="result-section">
        <div *ngIf="isSubmitted && user">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Type</th>
                        <th>EmailID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="{{user.avatar_url}}"></td>
                        <td *ngIf="user.name">{{user.name}}</td>
                        <td *ngIf="!user.name">N.A.</td>
                        <td>{{user.login}}</td>
                        <td>{{user.type}}</td>
                        <td *ngIf="user.email">{{user.email}}</td>
                        <td *ngIf="!user.email">N.A.</td>
                        <td><i class='fas fa-eye' title="View Details" (click)="goToDetails(user)"></i></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div *ngIf="isSubmitted && !user" class="error">
            <p>User not found !!</p>
        </div>
       </div>
    </div>

</div>

<!-- HTTP Request Loader  -->
<ng-http-loader></ng-http-loader>